<ion-content>
  <ion-list-header>
    <ion-button shape="round" size="medium" (click)="getBack()">Back</ion-button>
    <ion-title position="end">Shuffle of Gods</ion-title>
  </ion-list-header>

  <ion-item>
    <ion-label>Number of Players: </ion-label>
    <ion-input [(ngModel)]="numberOfPlayers" type="number" placeholder="3 to 5 players"></ion-input>
  </ion-item>
  <ion-list>
    <ion-radio-group value="classic">
      <ion-list-header>
        <ion-label>Type of</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Classic</ion-label>
        <ion-radio slot="start" value="classic"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Titans</ion-label>
        <ion-radio slot="start" value="titans"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-item *ngIf="numberOfPlayers">
    <ion-button expand="full" shape="round" routerLink="cyclades-classic/{{numberOfPlayers}}">Start Shuffle</ion-button>
  </ion-item>

</ion-content>