<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Shuffle of Gods</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="components-background">

  <ion-list>
    <ion-item>
      <ion-label>Number of Players: </ion-label>
      <ion-input [(ngModel)]="numberOfPlayers" type="number"></ion-input>
    </ion-item>

    <ion-grid class="components-background">
      <ion-row>
        <ion-col>
          <ion-button [disabled]="!numberOfPlayers" shape="round" expand="full"
            routerLink="/cyclades-classic/{{numberOfPlayers}}">Classic
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button [disabled]="!numberOfPlayers" shape="round" expand="full"
            routerLink="/cyclades-titans/{{numberOfPlayers}}">Titans</ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>
  </ion-list>

</ion-content>