<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button color="danger" defaultHref="/home"></ion-back-button>
  </ion-buttons>
  <ion-title>Shuffle of Gods</ion-title>
</ion-toolbar>

<ion-content>

  <ion-list>


    <ion-item>
      <ion-label>Number of Players: </ion-label>
      <ion-input [(ngModel)]="numberOfPlayers" type="number" placeholder="3 to 5 players"></ion-input>
    </ion-item>

    <ion-radio-group value="classic">
      <ion-list-header>
        <ion-label>Type of</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Classic</ion-label>
        <ion-radio slot="start" value="classic"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Titans</ion-label>
        <ion-radio slot="start" value="titans"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-button shape = "round" expand="full" routerLink="/cyclades-classic/{{numberOfPlayers}}">Shuffle</ion-button>
  </ion-list>

</ion-content>